.container {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

@media
  (
    prefers-reduced-motion:
      no-preference
  ) {
    html {
      scroll-behavior: smooth;
  }
}

@media (
  prefers-reduced-motion:
    no-preference
) {
  header, footer, main {
    transition: all 1s ease-in-out width;
  }
}

input,
textarea {
  field-sizing: content;
}

input, checkbox, textarea {
  scroll-margin-top: 6rem;
}

input, checkbox, textarea:target {
  scroll-snap-type: proximity;
  transition: 1s ease-in-out scroll-margin-top;
}
